<!DOCTYPE html>
<html>
    <head>
        <title>Wallpaperer</title>
        <link rel="stylesheet" href="styles/main.css" />
    </head>
    <body>

        <form id="image-form">
            <div>URL <input name="url" /></div>
            <div>Dimensions <input name="width" /> x <input name="height" /></div>
            <input type="submit" value="Resize" />
            <button id="search-similiar-button">Search similar images</button>
        </form>

        <div>
            <span id="image-placeholder" />
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
