body { font: 14px/1.4 "Lucida Grande", "Helvetica Neue", Arial, sans-serif; 
    padding: 0; margin: 0 }

#content { padding: 1em }

input[name=url] { width: 10em; min-width: 10em; max-width: 45em }
input[name=width], 
input[name=height] { width: 5em }

#status { position: absolute; left: 50% }
#status .content { position: relative; left: -50% }
#status .content .message { background: #f6e7a0; border: 2px solid #edd97e; 
    border-top-width: 0; border-radius: 0 0 7px 7px; padding: 3px 9px; 
    text-align: center; font-size: 90% }

#image-placeholder { width: 500px; height: 500px; padding: 10px 0 }
#image-placeholder img { max-width: 100%; max-height: 100%; 
    padding: 5px; cursor: move; box-shadow: 0 0 20px #888 }
